.cardpage {
  background: #f7f7f7;
  .containerHeader {
    width: 70%;
    margin: 0 auto;
    .header {
      width: 100%;
      padding-top: 80px;
      p {
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-bottom: 22px;
        text-transform: uppercase;
        color: #eb566c;
      }
      h1 {
        color: #000000;
        font-family: "Sarabun", sans-serif;
        line-height: 20px;
        font-size: 40px;
        font-weight: 900;
      }
    }
  }

  .cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .containerCards {
      width: 70%;
      gap: 50px;
      margin: 0 auto;
      height: auto;
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
      justify-content: space-around;
      .card {
        width: 350px;
        height: 420px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Sarabun", sans-serif;
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;

        .icons {
          .fa-heart {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 22px;
          }
          .fa-cart-shopping {
            position: absolute;
            top: 55px;
            right: 30px;
            font-size: 22px;
          }
        }

        &:hover {
          .hover {
            height: 420px;
          }
          i,
          h4,
          p {
            color: white;
            z-index: 3;
          }
          .buttons {
            button {
              background: white;
              color: #ff2143;
              a {
                color: #ff2143;
              }
            }
            z-index: 3;
          }
        }
        .hover {
          position: absolute;
          width: 350px;
          transition: all 800ms;
          height: 0px;
          background-color: #dc3545;
        }

        .buttons {
          button {
            cursor: pointer;
            background: #ff2143;
            padding: 6px 10px;
            border: none;
            color: white;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            margin: 10px;
            a {
              color: white;
            }
          }
        }

        i {
          font-size: 40px;
          color: #dc3545;
          line-height: 60px;
        }
        h4 {
          font-size: 24px;
          font-weight: 600;
          margin: 8px 0;
        }
        p {
          width: 300px;
          text-align: center;
          line-height: 30px;
        }
      }
    }
  }
}
